.posts {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text {
  width: 100%;
  box-sizing: border-box;
}

.btn {
  display: flex;
  justify-content: end;
  gap: 1vh;
}

.add {
  margin: 1px;
  width: 5em;
  height: 2em;
  background-color: rgb(14, 214, 14);
}

.delete {
  margin: 1px;
  width: 5em;
  height: 2em;
  background-color: rgb(185, 118, 40);
}